/* CSS Reset */

        /* body {
            font-family: "Anton SC", sans-serif;
            padding: 0;
            margin: 0;
            background: url('chess-6872239_1280.jpg') no-repeat fixed;
            background-size: cover;           color: white;
        } */
        header {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 30px;
            padding: 20px 0;
        }
        nav {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px 0;
        }
        .navbar {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 15px;
        }
        .navbar li {
            font-size: 18px;
            border: 3px solid black;
            background-color: rgb(53, 55, 80);
            border-radius: 9px;
        }
        .navbar li a {
            color: white;
            text-decoration: none;
            padding: 8px 16px;
        }
        .navbar li a:hover, .navbar li a:active {
            text-decoration: underline;
            color: grey;
        }
        .left {
            position: absolute;
            left: 24px;
            top: 20px;
            display: inline-block;
        }
        .left img {
            width: 72px;
            filter: invert(100%);
        }
        .left div {
            text-align: center;
        }
        .right {
            position: absolute;
            right: 24px;
            top: 20px;
            display: inline-block;
        }
        .btn {
            margin: 0 4px;
            background-color: rgb(47, 41, 41);
            color: white;
            padding: 8px;
            border-radius: 11px;
            font-size: 15px;
            cursor: pointer;
        }
        .btn:hover {
            color: grey;
        }
        .section {
            padding: 20px;
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
            margin: 20px auto; /* Center horizontally */
            width: 800px; /* Limit maximum width */
        }
        .section h2 {
            padding: 0 45px;
            margin: 0;
            color: #d0d4db;
            border: 4px solid #f4dfdf;
            display: flex;
            justify-content: center;
            border-radius: 14px;
        }
        .section ol {
            padding-left: 20px;
        }
        .section li a {
            color: rgb(189, 184, 189);
            text-decoration: none;
            font-family: "Playwrite PT", cursive;
        }
        .parallax {
            background-image: url('your-image.jpg');
            
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content {
            padding: 20px;
            text-align: center;
        }
        footer{
            /* padding: 0 45px;
            margin: 0; */
            color: #d0d4db;
            border-color: rgb(0,0,0);
            background-color: rgb(0,0,0,1);
            /* display: flex;
            justify-content: center; */
            
        }
        
        footer p{
            display: block;
             width: 100%; 
             text-align: center;
        }
 